@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-size: 1.4rem;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-family: "Indie Flower", cursive;
  background: radial-gradient(
    circle,
    rgb(0, 19, 44) 0%,
    rgba(5, 0, 15, 1) 60%,
    rgba(5, 0, 15, 1) 100%
  );
  background-attachment: fixed;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #ddd;
}

.container {
  padding: 32px 32px 0 32px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
h1 {
  color: #ffdf00;
  font-size: 36px;
}

figure {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

figure div {
  position: relative;
  width: 100%;
}

figcaption {
  margin-top: 8px;
  color: #fefefe;
  text-align: start;
}
p {
  color: #eee;
  margin: 8px 16px;
}
img {
  width: 60%;
}
.arrow {
  position: absolute;
  transform: translateY(0%);
  margin-left: 5%;
  width: 30%;
}

footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  background-color: rgba(5, 0, 15, 1);
  align-items: center;
  justify-content: center;
}

footer span {
  margin: 0 16px;
  font-size: 1.2rem;
}

footer a,
a:link,
a:visited,
a:hover {
  color: #ffdf00;
  font-size: 1.2rem;
}
